body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: dimgray;
}

.container {
    display: flex;
    width: 630px;
    height: 630px;
    flex-wrap: wrap;
    background-color: black;
}

button {
    margin-bottom: 15px;
}
