body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
/*     outline: 2px solid green; */
    padding: 5px;
    width: 630px;
    height: 630px;
/*     gap: 10px; */
    flex-wrap: wrap;
}

button {
    margin-bottom: 15px;
}