/* CSS RESET (from Josh Comeau) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-bg);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

ul {
    list-style-type: none;
}

/* DESIGN TOKENS */
html {
  --color-primary: oklch(0.7918 0.1143 78.46);
  --color-ship: #F2F2FF;
  --color-bg: oklch(0.995 0 0);
  --color-fg: oklch(0.175 0 0);
  --color-gray-900: oklch(0.2 0 0);
  --color-gray-850: oklch(0.25 0 0);
  --color-gray-800: oklch(0.3 0 0);
  --color-gray-750: oklch(0.35 0 0);
  --color-gray-700: oklch(0.4 0 0);
  --color-gray-650: oklch(0.45 0 0);
  --color-gray-600: oklch(0.5 0 0);
  --color-gray-550: oklch(0.55 0 0);
  --color-gray-500: oklch(0.6 0 0);
  --color-gray-450: oklch(0.65 0 0);
  --color-gray-400: oklch(0.7 0 0);
  --color-gray-350: oklch(0.75 0 0);
  --color-gray-300: oklch(0.8 0 0);
  --color-gray-250: oklch(0.85 0 0);
  --color-gray-200: oklch(0.9 0 0);
  --color-gray-150: oklch(0.95 0 0);
  --color-gray-100: oklch(0.975 0 0);

  --font-4xl: 4rem;
  --font-3xl: 3rem;
  --font-2xl: 2rem;
  --font-xl: 1.5rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;
  --font-2xs: 0.625rem;
  --font-3xs: 0.5rem;

  --weight-x-bold: 800;
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-x-light: 200;

  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 34.375rem;
  --breakpoint-laptop: 68.75rem;
  --breakpoint-desktop: 93.75rem;

  --space-5xl: 4rem;
  --space-4xl: 3.5rem;
  --space-3xl: 3rem;
  --space-2xl: 2.5rem;
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space-md: 1rem;
  --space-sm: 0.75rem;
  --space-xs: 0.5rem;
  --space-2xs: 0.25rem;

  --radius-full: 50%;
  --radius-3xl: 2rem;
  --radius-2xl: 1.75rem;
  --radius-xl: 1.5rem;
  --radius-lg: 1.25rem;
  --radius-md: 1rem;
  --radius-sm: 0.75rem;
  --radius-xs: 0.5rem;
  --radius-2xs: 0.25rem;

  scrollbar-color: #301713 black;
}

/* GLOBAL TYPOGRAPHY & ELEMENTS */
* {
    font-family: "Crimson Text", sans-serif;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-fg);
}

p,
span {
    color: var(--color-gray-700);
}

h1,
h2 {
    color: var(--color-fg);
}

h3 {
    font-weight: var(--weight-semibold);
    color: var(--color-fg);
}

h4 {
    font-weight: var(--weight-medium);
    color: var(--color-fg);
}

/* 
-------------- DOCUMENT --------------
*/

h1, h2, h3, h4, p, span {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.header-content h1 {
    font-weight: var(--weight-medium);
}

.header-content h3 {
    font-weight: var(--weight-regular);
    font-size: var(--font-lg);
}

.header-content p {
    font-weight: var(--weight-medium);
    color: var(--color-fg);
    font-size: var(--font-xl);
}

.header-shadow-wrapper {
    width: 100%;
    position: relative;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.7)); 
}

.header-shadow-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #301713;
    transform: skewY(-8deg) scaleY(3) translateY(-40%);
    z-index: -1;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: var(--space-3xl) var(--space-xl);
}

.logo-container {
    max-width: 300px;
    position: absolute; 
    left: -300px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; 
}

.logo-container img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.logo-container h3{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
}

.sheet-of-paper-container {
    display: flex;
    flex-direction: column; 
    background-image: url(./images/sheet-of-paper.webp);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--space-xl);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    gap: var(--space-md);
    margin-left: 300px;
    position: relative; 
}



header svg {
    width: 30px;
    height: 30px;
    fill: #301713;
    cursor: pointer;
}

header .icons-container {
    display: flex;
    justify-content: end;
    gap: var(--space-md);
}

.main-background{
    width: 100%;
    background-image: url(images/sheet-of-paper-2.webp);
    background-size: cover;
    background-repeat: repeat-y;
    margin-top: -270px;
    padding-top: 320px; 
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-xl) var(--space-5xl) var(--space-xl);
    gap: var(--space-md);
}

.main-content h2 {
    font-weight: var(--weight-medium);
    font-size: var(--font-2xl);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    gap: var(--space-xl);
}

.card{
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 220px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.card .text-background{
    width: 100%;
    background-image: url(images/sheet-of-paper-2.webp);
    background-size: cover;
    background-repeat: repeat-y;
    padding: var(--space-md);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.card .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .title-container h4 {
    font-weight: var(--weight-medium);
    font-size: var(--font-xl);
}

.card .icons-container {
    display: flex;
    gap: var(--space-xs);
}


.card svg {
    width: 20px;
    height: 20px;
    fill: #301713;
    cursor: pointer;
}

.card p {
    color: var(--color-fg);
    font-size: var(--font-lg);
    font-weight: var(--weight-light);
}

.footer-background {
    width: 100%;
    background-color: #301713;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content{
    width: 100%;
    display: flex;
    padding: var(--space-xl);
    gap: var(--space-md);
    justify-content: space-between;
}

.footer-content img{
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.footer-content .left-container{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.footer-content h1,
.footer-content p, 
.footer-content span {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.9);
}

.footer-content h1{
    font-weight: var(--weight-medium);
    color: #DDCEAD;
}

.footer-content p,
.footer-content span {
    color: var(--color-bg);
    font-weight: var(--weight-semibold);
    font-size: var(--font-lg);
}

.footer-content span {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.footer-content span svg {
    width: 20px;
    height: 20px;
    fill:#DDCEAD;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.9));
}

.footer-content .icons-container {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.footer-content .icons-container svg {
    width: 30px;
    height: 30px;
    fill:#DDCEAD;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.9));
}

@media (max-width: 966px) {
    .sheet-of-paper-container {
        display: block; 
        margin-left: 100px; 
    }

    .logo-container {
        float: left; 
        position: relative;
        left: auto;       
        top: auto;        
        transform: none;  
        margin-left: -120px; 
        margin-top: -60px; 
        margin-right: var(--space-lg); 
        margin-bottom: var(--space-sm);
        max-width: 300px; 
    }

    .sheet-of-paper-container h1 {
        margin-bottom: var(--space-xs);
    }
    
    .sheet-of-paper-container p {
        margin-bottom: var(--space-md);
    }

    header .icons-container {
        display: flex;
        justify-content: flex-end;
        gap: var(--space-md);
        clear: both; 
    }
}

@media (max-width: 654px) {
    .sheet-of-paper-container {
        background-image: url(./images/sheet-of-paper-2.webp);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: var(--space-lg); 
        margin-left: 0;
    }

    .logo-container {
        float: none; 
        margin: 0 ;
        max-width: 180px; 
    }

    .sheet-of-paper-container h1 {
        margin-bottom: var(--space-sm);
        font-size: 1.8rem; 
    }

    header .icons-container {
        justify-content: center;
        width: 100%;
        margin-top: var(--space-sm);
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-content img {
        max-width: 600px;
    }

    .footer-content .icons-container {
        justify-content: center;
    }
}