.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg) var(--space-md) var(--space-md);
}

.contact .get-in-touch {
    display: inline-flex;
    gap: var(--space-sm);
    color: var(--color-primary);
    justify-content: center;
    align-items: center;
    background-color: var(--color-box);
    padding: var(--space-2xs) var(--space-sm);
    border-radius: var(--radius-md);
    border: 1px solid rgba(230, 46, 29, 0.3);
}

.contact .get-in-touch span {
    font-family: var(--font-noto-jp);
    font-weight: var(--weight-medium);
    font-size: var(--font-sm);
    color: var(--color-primary);
}

.contact .get-in-touch svg {
    width: 17px;
    height: 17px;
    stroke: var(--color-primary);
}

.contact .get-in-touch,
.contact .get-in-touch svg,
.contact .get-in-touch span {
    flex-shrink: 0;
}

.contact .pre-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .pre-info span {
    display: block;
    padding-top: var(--space-md);
    font-family: var(--font-cinzel);
    font-size: clamp(3rem, 8vw, 3rem);
    font-weight: var(--weight-bold);
}

.contact .pre-info p {
    max-width: 60ch;
    font-size: 1.1rem;
    padding-top: var(--space-xs);
    color: var(--color-tertiary);
}

.contact .main-info {
    width: 80%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    justify-content: center;
    padding: var(--space-xl) var(--space-4xl) 0;
    gap: var(--space-lg);
    grid-template-areas: "reservation others";
}

.contact .main-info .reservation {
    grid-area: reservation;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--space-2xl) var(--space-lg);
    background-color: rgb(24, 15, 14);
    border: 1px solid rgba(60, 40, 37, 0.8);
    border-radius: var(--radius-sm);
    gap: var(--space-lg);
}

.contact .form-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.contact .reservation>h3 {
    font-family: var(--font-cinzel);
    font-weight: var(--weight-semibold);
    font-size: var(--font-xl);
}

.contact .form-container .first-wrapper,
.contact .form-container .second-wrapper {
    display: flex;
    gap: var(--space-md);
    flex-wrap: wrap;
}

.contact .form-container .name-wrapper,
.contact .form-container .email-wrapper,
.contact .form-container .date-wrapper,
.contact .form-container .guests-wrapper,
.contact .form-container .special-request {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    flex: 1;
}

.contact .form-container input {
    background-color: lab(12.8288 5.9375 3.9758);
    border: 1px solid rgba(60, 40, 37, 0.8);
    border-radius: var(--radius-2xs);
    padding: var(--space-2xs) var(--space-xs);
}

.contact .form-container input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.contact .form-container button {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-xs);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-sm);
    font-size: var(--font-lg);
    gap: var(--space-sm);
}

.contact .form-container button svg {
    width: 15px;
    height: 15px;
    stroke: white;
    flex-shrink: 0;
}

.contact .others {
    display: grid;
    grid-area: others;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--space-md);
    grid-template-areas:
        "location phone"
        "hours email"
        "feeling-bold feeling-bold";
}

.contact .others .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    background-color: rgb(24, 15, 14);
    border: 1px solid rgba(60, 40, 37, 0.8);
    border-radius: var(--radius-sm);
    padding: var(--space-2xl) var(--space-md);

    transition: all 0.1s ease;
}

.contact .others .card:hover {
    border-color: rgba(234, 47, 27, 0.4);
}

.contact .others .location {
    grid-area: location;
}

.contact .others .phone {
    grid-area: phone;
}

.contact .others .hours {
    grid-area: hours;
}

.contact .others .email {
    grid-area: email;
}

.contact .others .feeling-bold {
    grid-area: feeling-bold;
}

.contact .others svg {
    stroke: var(--color-primary);
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.contact .others .card>div {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.contact .others .card span {
    word-break: break-all;
}

.contact .feeling-bold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-box);
    border: 1px solid rgba(60, 40, 37, 0.8);
    border-radius: var(--radius-sm);
    padding: var(--space-md);
}

@media (max-width: 1120px){
  .contact .main-info {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "reservation"
    "others";
    padding: var(--space-md);
  }
}

@media (max-width: 673px) {
    .contact .others {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "location"
        "phone"
        "hours"
        "email"
        "feeling-bold";
  }
}