/* 
 --- GENERAL --- 
*/
* {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    --color-primary: oklch(0.7918 0.1143 78.46);
    --color-fg: oklch(0.995 0 0);
    --color-bg: oklch(0.175 0 0);
    --color-yellow-button: rgb(238, 170, 60);
    --color-gray-900: oklch(0.2 0 0);
    --color-gray-850: oklch(0.25 0 0);
    --color-gray-800: oklch(0.3 0 0);
    --color-gray-750: oklch(0.35 0 0);
    --color-gray-700: oklch(0.4 0 0);
    --color-gray-650: oklch(0.45 0 0);
    --color-gray-600: oklch(0.5 0 0);
    --color-gray-550: oklch(0.55 0 0);
    --color-gray-500: oklch(0.6 0 0);
    --color-gray-450: oklch(0.65 0 0);
    --color-gray-400: oklch(0.7 0 0);
    --color-gray-350: oklch(0.75 0 0);
    --color-gray-300: oklch(0.8 0 0);
    --color-gray-250: oklch(0.85 0 0);
    --color-gray-200: oklch(0.9 0 0);
    --color-gray-150: oklch(0.95 0 0);
    --color-gray-100: oklch(0.975 0 0);
    --color-emerald-700: lab(44.4871% -41.0396 11.0361);
    --color-emerald-100: lab(94.9004% -17.0769 5.63836);
    --color-rose-700: lab(41.1651% 71.6251 30.3087);
    --color-rose-100: lab(92.8221% 9.86832 2.60075);

    --font-4xl: 4rem;
    --font-3xl: 3rem;
    --font-2xl: 2rem;
    --font-xl: 1.5rem;
    --font-lg: 1.25rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-xs: 0.75rem;
    --font-2xs: 0.625rem;
    --font-3xs: 0.5rem;

    --weight-x-bold: 800;
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;
    --weight-x-light: 200;

    --breakpoint-mobile: 20rem;
    --breakpoint-tablet: 34.375rem;
    --breakpoint-laptop: 68.75rem;
    --breakpoint-desktop: 93.75rem;

    --space-5xl: 4rem;
    --space-4xl: 3.5rem;
    --space-3xl: 3rem;
    --space-2xl: 2.5rem;
    --space-xl: 2rem;
    --space-lg: 1.5rem;
    --space-md: 1rem;
    --space-sm: 0.75rem;
    --space-xs: 0.5rem;
    --space-2xs: 0.25rem;

    --radius-full: 50%;
    --radius-3xl: 2rem;
    --radius-2xl: 1.75rem;
    --radius-xl: 1.5rem;
    --radius-lg: 1.25rem;
    --radius-md: 1rem;
    --radius-sm: 0.75rem;
    --radius-xs: 0.5rem;
    --radius-2xs: 0.25rem;

    scrollbar-color: var(--color-gray-300) var(--color-bg);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-fg);
}

body {
    min-height: 100dvh;
    background-color: var(--color-bg);
}

ul {
    list-style-type: none;
}

p,
span {
    color: var(--color-gray-700);
}

h1 {
    color: var(--color-fg);
}

h2 {
    color: var(--color-fg);
}

h3 {
    font-weight: var(--weight-semibold);
    color: var(--color-fg);
}

h4 {
    font-weight: var(--weight-medium);
    color: var(--color-fg);
}

/*
  -- CSS Reset (from Josh Comeau)
  -- https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* 
--- BODY ---
*/

html {
    display: flex;
    align-items: center;
    flex-direction: column;
}

svg {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 73rem;
    margin: 0 auto;
    padding: var(--space-lg);
    /* test */
    background: linear-gradient(-135deg, lab(65.8981% -33.0161 -35.083) 0%, lab(48.31% 10.13 -56.62) 100%);
}

.blur-container {
    border-radius: var(--radius-xs);
    border: 1px solid rgba(190, 190, 189, 0.2);
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(12px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left,
.header .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}

.header .left h3 {
    font-size: var(--font-xl);
}

.header .left svg {
    width: 22px;
    height: 22px;
    fill: white;
}

.header .search {
    display: flex;
    padding: var(--space-md);
    align-items: center;
    justify-content: left;
    gap: var(--space-xs);
}
.header .search svg {
stroke: var(--color-fg);
}

.header .search label,
.header .search input {
    flex-shrink: 0;
}

.header .search input {
    height: 2.2rem;
    padding: var(--space-xs) var(--space-sm);
    border: none;
    border-radius: var(--radius-sm);
    font-size: var(--font-md);
    color: var(--color-fg);
}

.header .search input::placeholder {
    color: var(--color-gray-250);
}

.header .search input:focus {
    outline: 1px solid var(--color-primary);

}

#check-location {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2xs);
    padding: var(--space-2xs);
    color: var(--color-fg);
    font-size: var(--font-md);
    flex-shrink: 0;
    cursor: pointer;
}

#check-location svg {
    height: 18px;
    width: 18px;
}

.header .right svg {
    fill: var(--color-gray-100);
}

.header .right span {
    color: var(--color-gray-100);
    font-size: var(--font-md);
}

.current-conditions-general {
    padding-top: var(--space-lg);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-lg);
}

.current-conditions-general .left-side {
    display: flex;
    padding: var(--space-3xl) var(--space-2xl);
    align-items: center;
    gap: var(--space-lg);
}

.weather-icon {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
}

.current-conditions-general .left-side div {
    display: flex;
    flex-direction: column;
}

.current-conditions-general .left-side div h4 {
    font-size: 6rem;
    line-height: 1;
}

.current-conditions-general .left-side div h4 span {
    font-size: 2rem;
    color: var(--color-gray-100);
    margin-left: 10px;
}

.current-conditions-general .left-side span:nth-child(2) {
    color: var(--color-gray-150);
    font-size: var(--space-lg);
}

.current-conditions-general .left-side span:nth-child(3) {
    color: var(--color-gray-200);
}

.current-conditions-general .right-side {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    align-items: center;
    justify-content: space-around;
}

.current-conditions-general .right-side .top {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
}

.current-conditions-general .right-side .top .sunrise,
.current-conditions-general .right-side .top .sunset {
    display: flex;
    gap: var(--space-md);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xs);
}

.current-conditions-general .right-side .top .sunrise .left,
.current-conditions-general .right-side .top .sunset .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}

.current-conditions-general .right-side .top .sunrise .left span,
.current-conditions-general .right-side .top .sunset .left span {
    color: var(--color-gray-100);
}

.current-conditions-general .right-side .top .sunrise .right,
.current-conditions-general .right-side .top .sunset .right {
    color: var(--color-gray-100);
    font-weight: var(--weight-bold);
}

.current-conditions-general .right-side .top .sunrise .left svg {
    stroke: lab(80.1641% 16.6016 99.2089);
    fill: lab(80.1641% 16.6016 99.2089);
}

.current-conditions-general .right-side .top .sunset .left svg {
    stroke: lab(70.0429% 42.5156 75.8207);
    fill: lab(70.0429% 42.5156 75.8207);
}

.current-conditions-general .right-side .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    color: var(--color-gray-200);
    font-size: var(--font-sm);
}



/* UV INDEX BAR STYLING */

progress.uv-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border: none; 
}

progress.uv-bar::-webkit-progress-bar {
  background-color: #e2e8f0;
  border-radius: 10px;
}
progress.uv-bar::-moz-progress-bar {
  background-color: #e2e8f0;
  border-radius: 10px;
}

progress.uv-bar::-webkit-progress-value {
  background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
  border-radius: 10px;
}

progress.uv-bar::-moz-progress-bar {
  background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
  border-radius: 10px;
}

/*  */

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toAnimate {
  animation: fadeSlideUp 0.2s ease-out forwards; 
}

@media (max-width: 900px) {

}

@media (max-width: 600px) {

}